.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.initials {
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.2rem 0.5rem;
  letter-spacing: 0.2rem;
}
.fullName {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.profession {
  font-size: 0.8rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 0.5rem;
}
.group {
}

@media screen and (min-width: 600px) {
  .title {
    margin: auto 0;
  }
  .group {
    display: grid;
    grid-template-areas:
      'initials name'
      'initials  profession';
    align-items: center;
    justify-content: flex-start;
  }
  .initials {
    grid-area: initials;
    margin: auto;
    margin-right: 0.8rem;
  }
  .fullName {
    grid-area: name;
  }
  .profession {
    grid-area: profession;
  }
}
